* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

main {
  min-width: 800px;
  width: 100%;
  height: 115%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 115%;
}

header {
  min-width: 1000px;
  display: flex;
  align-items: center;
  height: 65px;
  width: 100vw;
  border-bottom: 1px solid;
  border-color: #ccc;
  position: fixed;
  z-index: 2;
  margin: auto;
  background-color: black;
}
header a {
  min-width: 1000px;
  display: flex;
  align-items: center;
  height: 65px;
  width: 93vw;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #ccc;
  margin: auto;
}

.logo {
  display: block;
  height: 50px;
  width: 50px;
}

#title {
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  color: white;
  font-family: "Meta", sans-serif;
  cursor: pointer;
}

#login {
  width: 5vw;
  font-size: 15px;
  margin: 0;
  color: white;
  font-family: "Meta", sans-serif;
  cursor: pointer;
}

#login:hover {
  font-family: "Meta", sans-serif;
  color: #b2bec3;
  transition: opacity 0.5s ease 0s;
}

.main__sction {
  min-width: 1000px;
  width: 100vw;
  height: 70vh;
  background-color: #dfe4ea;
  position: relative;
}

.bgvideo {
  min-width: 1000px;
  width: 100vw;
  height: 70vh;
  opacity: 0.8;
}

.main__sction .content {
  min-width: 400px;
  position: absolute;
  color: white;
  font-size: 250%;
  height: 200px;
  width: 150px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  background-color: none;
  line-height: 1.6;
}

.askBtn {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 30%;
  color: white;
  border: none;
  font-size: 23px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #e67e22;
}

.askBtn:hover {
  background-color: #f39c12;
  transition: opacity 0.5s ease 0s;
}

li {
  list-style: none;
}

.discussion__wrapper {
  min-width: 800px;
  width: 94%;
  margin-top: 2vh;
  margin-right: 2vw;
}

.discussion__container {
  min-width: 700px;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  width: 100%;
  border: 0.5px solid #636e72;
  border-left: 0;
  border-right: 0;
  height: 80px;
  color: white;
}

.discussion__avatar--wrapper {
  display: flex;
  width: 100%;
}

.discussion__avatar--image {
  border-radius: 100%;
  width: 100%;
  width: 100%;
}
.discussion__content {
  width: 105%;
}
.discussion__container img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 2%;
  margin: auto;
  place-items: center;
}

.discussion__answered {
  margin: auto;
  place-items: center;
}
.discussion__answered p {
  font-size: 40px;
  margin: 0;
  color: white;
}

.discussion__information {
  font-size: 15px;
  font-weight: 300;
  float: right;
  color: white;
  margin: 0px;
}

.discussion__title {
  font-size: 90%;
  margin-top: 0;
  padding: 10px;
  margin-top: 2px;
  padding-bottom: 0;
}

.discussion__title a {
  text-decoration: none;
  font-size: 120%;
  color: white;
}
.discussion__title a:hover {
  text-decoration: none;
  color: #718093;
}

/* input   */

section.form__container {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  width: 400px;
  height: 340px;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  justify-content: center;
}

.form__input--name input {
  width: 370px;
  width: 370px;
  height: 40%;
  font-size: 20px;
  margin: 10px 0;

  border: 0;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.form__input--title input {
  width: 370px;
  width: 370px;
  height: 40%;
  font-size: 20px;
  margin: 10px 0;

  border: 0;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.form__textbox textarea {
  width: 370px;
  width: 370px;
  height: 30%;
  font-size: 20px;
  margin: 10px 0;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

.form__textbox label {
  display: block;
  color: black;
  font-size: 21px;
}

.form__input--name label {
  display: block;
  color: black;
  font-size: 21px;
}

.form__input--title label {
  display: block;
  color: black;
  font-size: 21px;
}

.form__submit {
  display: flex;
}

.form__submit input {
  font-family: SF Pro KR, SF Pro Text, SF Pro Icons, Apple Gothic, HY Gulim,
    MalgunGothic, HY Dotum, Lexi Gulim, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  display: inline-block;
  margin-left: 290px;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0071e3;
  transition: 0.5s;
  border: none;
  border-radius: 8px;
}

.form__submit input:hover {
  opacity: 0.8;
}

.cancel {
  margin-left: 348px;
}

.check {
  cursor: pointer;
}

.icon-wrapper {
  text-align: right;
  width: 195%;
}

/* 페이징 */

.pagination {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.pageItems {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  width: 100px;
}

.pageItems li {
  font-size: 28px;
}

.pageItems li a {
  text-decoration: none;
  text-align: center;
  width: 34px;
  height: 37px;
  color: #ffffff;
  background-color: #e67e22;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 20px;
  padding-top: 3px;
}
.pageItems li a:hover {
  text-decoration: none;
  font-size: 28px;
  text-align: center;
  width: 34px;
  height: 37px;
  background-color: #f39c12;
  transition: opacity 0.5s ease 0s;
  opacity: 0.7;

  border-radius: 5px;
  font-weight: 600;
  margin: 0 20px;
  padding-top: 5px;
}

.pageItems li a.active {
  width: 38px;
  height: 40px;
  background-color: #636e72;
}

nav {
  display: flex;
  justify-content: center;
  margin: 3%;
}

.pagination i {
  color: white;
  font-size: 25px;
}

.toggle-wrapper {
  display: flex;
  padding-top: 5px;
  align-items: center;
}

.toggle {
  font-size: 15px;
  color: #e67e22;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 3px;
}

.delete {
  color: #c0392b;
  margin-left: 13px;
}
